*{
    list-style: none;
    margin:0;
    padding: 0;
}

h3{
    color: brown;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: grey;
}

li>a{
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;

}
input , label , h3{
    width: 30vw;
    font-size: 1.3em;
}